# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv
pip-log.txt
~ 
distilbert_jailbreak_detector/

# Jupyter Notebooks
.ipynb_checkpoints

# Large Data & Models (Crucial for ML)
data/
outputs/
reports/
tmp/
*.pkl
*.h5
*.pth
*.onnx
*.weights
*.safetensors
*.faiss

# IDEs
.vscode/
.idea/
